HOST=127.0.0.1
PORT=8012
FRONTEND_URL=http://127.0.0.1:4312
DATABASE_URL=postgresql://task_manager:local-development-only@127.0.0.1:55412/task_manager
JWT_SECRET=
REFRESH_TOKEN_SECRET=
NODE_ENV=development
TRUST_PROXY=0
# SERVE_FRONTEND_DIRECTORY=../frontend/.output/public
